<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.davidkurniawan.MovieAppz">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="me.davidkurniawan.MovieAppz.MovieAppz"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="MovieAppz"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="me.davidkurniawan.MovieAppz.activity.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.davidkurniawan.MovieAppz.activity.FavouriteActivity"
            android:parentActivityName="me.davidkurniawan.MovieAppz.activity.MainActivity" />
        <activity
            android:name="me.davidkurniawan.MovieAppz.activity.DetailsActivity"
            android:parentActivityName="me.davidkurniawan.MovieAppz.activity.MainActivity" />
        <activity
            android:name="me.davidkurniawan.MovieAppz.activity.AboutActivity"
            android:parentActivityName="me.davidkurniawan.MovieAppz.activity.MainActivity" />
    </application>

</manifest>